.mainBlockMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aqua;
  width: 83.5vw;
  height: 100vh;
}

.viewPortMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.displayMessage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  width: 70%;
  height: 80vh;
  padding: 15px;
  background-color: antiquewhite;
  border-radius: 20px;
  margin-bottom: 10px;
}

.displayMessage > :first-child {
  margin-top: auto;
}

.chatInput {
  width: 40%;
}
